<h2><%= current_user.username %>'s Review of: <%= @review.name %></h2>

<p>
  <div>
    <h3><%= rating(@review.star_rating)! %></h3>
  </div>
  <div>
    <%= @review.description %>
  </div>
</p>
<p><a class="btn-primary btn-sm" href="/reviews/<%= @review.id %>/edit">Edit Review</a></p>
<p>
<form action="/reviews/<%=@review.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Review">
</form>
</p>
