
<% if logged_in? %>
<h2>Welcome, <%= current_user.username %>! Checkout our Reviews:</h2>

<% @reviews = Review.all %>
<p>
  <% @reviews.each.with_index(1) do |review, index| %>
  <div>
    <%= index %>. <b><%= review.user.username %> reviewed:</b> <%= review.name %><br>
    <% if review.rating == 1 %>
    <div style="color:red;">It was <%=convert_rating(review.rating)%><br>
    <% elsif review.rating == 2 %>
    <div style="color:blue;">It was <%=convert_rating(review.rating)%><br>
    <% else review.rating == 3 %>
    <div style="color:green;">It was <%=convert_rating(review.rating)%><br>
    <% end %>
<a href="/reviews/<%=review.id%>"><mark>Checkout their description here</mark></a></div>
  </div>
  <% end %>
</p>
<% else %>
<p>Welcome to <b>Review This!</b> Please <a href="/login">Login</a> or <a href="/signup">Signup</a> and Checkout our Reviews!</p>
<% end %>
